* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 3192px;
  background: rgba(40,44,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_373 {
  width: 100%;
  height: 2136px;
  background: url("../images/v34_373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 672px;
  left: 77px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v33_344 {
  width: 155px;
  height: 155px;
  background: url("../images/v33_344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1453px;
  left: 0px;
  border: 1px solid rgba(171,178,191,1);
  overflow: hidden;
}
.v34_362 {
  width: 155px;
  height: 155px;
  background: url("../images/v34_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 488px;
  left: 1375px;
  border: 1px solid rgba(171,178,191,1);
  overflow: hidden;
}
.v46_1474 {
  width: 91px;
  height: 91px;
  background: url("../images/v46_1474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1361px;
  border: 1px solid rgba(171,178,191,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v33_290 {
  width: 100%;
  height: 228px;
  background: url("../images/v33_290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2611px;
  left: 170px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v33_318 {
  width: 505px;
  height: 63px;
  background: url("../images/v33_318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 0px;
  overflow: hidden;
}
.v28_260 {
  width: 505px;
  color: rgba(171,178,191,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Fira Code;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v52_1883 {
  width: 252px;
  height: 141px;
  background: url("../images/v52_1883.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 819px;
  overflow: hidden;
}
.v29_313 {
  width: 252px;
  height: 141px;
  background: url("../images/v29_313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_271 {
  width: 144px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Fira Code;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v29_312 {
  width: 220px;
  height: 72px;
  background: url("../images/v29_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v33_266 {
  width: 100%;
  height: 508px;
  background: url("../images/v33_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1991px;
  left: 170px;
  overflow: hidden;
}
.v9_198 {
  width: 515px;
  height: 442px;
  background: url("../images/v9_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 1px;
  overflow: hidden;
}
.v9_185 {
  width: 515px;
  color: rgba(171,178,191,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Fira Code;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v52_1554 {
  width: 434px;
  height: 449px;
  background: url("../images/v52_1554.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 682px;
  overflow: hidden;
}
.v23_704 {
  width: 430px;
  height: 424px;
  background: url("../images/v23_704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 4px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v33_291 {
  width: 271px;
  height: 1px;
  background: rgba(102,185,231,1);
  opacity: 1;
  position: absolute;
  top: 448px;
  left: 48px;
}
.v29_373 {
  width: 100%;
  height: 372px;
  background: url("../images/v29_373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1514px;
  left: 173px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v29_372 {
  width: 580px;
  height: 305px;
  background: url("../images/v29_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 454px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v29_371 {
  width: 349px;
  height: 282px;
  background: url("../images/v29_371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 32px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v23_983 {
  width: 52px;
  height: 52px;
  background: url("../images/v23_983.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 297px;
  border: 1px solid rgba(171,178,191,1);
  overflow: hidden;
}
.v23_984 {
  width: 86px;
  height: 86px;
  background: url("../images/v23_984.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 227px;
  border: 1px solid rgba(171,178,191,1);
  overflow: hidden;
}
.v4_64 {
  width: 113px;
  height: 113px;
  background: url("../images/v4_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_156 {
  width: 100%;
  height: 518px;
  background: url("../images/v9_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 890px;
  left: 171px;
  overflow: hidden;
}
.v6_37 {
  width: 100%;
  height: 428px;
  background: url("../images/v6_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 2px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v33_292 {
  width: 100%;
  height: 42px;
  background: url("../images/v33_292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v9_154 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 911px;
  font-family: Fira Code;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v14_439 {
  width: 100%;
  height: 423px;
  background: url("../images/v14_439.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 171px;
  overflow: hidden;
}
.v37_1458 {
  width: 537px;
  height: 227px;
  background: url("../images/v37_1458.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  overflow: hidden;
}
.v2_49 {
  width: 537px;
  color: url("../images/v2_49.png");
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Fira Code;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2_50 {
  width: 463px;
  color: rgba(171,178,191,1);
  position: absolute;
  top: 116px;
  left: 0px;
  font-family: Fira Code;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v37_1459 {
  width: 469px;
  height: 386px;
  background: url("../images/v37_1459.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 555px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v10_213 {
  width: 457px;
  height: 386px;
  background: url("../images/v10_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v60_2335 {
  width: 402px;
  height: 37px;
  background: rgba(40,44,51,1);
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 386px;
  left: 586px;
  overflow: hidden;
}
.v61_2336 {
  width: 16px;
  height: 16px;
  background: rgba(102,185,231,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
  border: 1px solid rgba(102,185,231,1);
  overflow: hidden;
}
.v60_2334 {
  width: 279px;
  color: url("../images/v60_2334.png");
  position: absolute;
  top: 8px;
  left: 34px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v44_857 {
  width: 583px;
  height: 95px;
  background: rgba(40,44,51,1);
  padding: 32px 32px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 658px;
  left: 326px;
  overflow: hidden;
}
.v44_845 {
  width: 519px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 32px;
  font-family: Fira Code;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v44_853 {
  width: 41px;
  height: 28px;
  background: rgba(40,44,51,1);
  padding: 4px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 11px;
  overflow: hidden;
}
.v44_852 {
  width: 25px;
  height: 20px;
  background: rgba(171,178,191,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 8px;
}
.v44_860 {
  width: 263px;
  height: 63px;
  background: url("../images/v44_860.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 319px;
  overflow: hidden;
}
.v44_858 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Fira Code;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v44_854 {
  width: 41px;
  height: 28px;
  background: rgba(40,44,51,1);
  padding: 4px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 525px;
  overflow: hidden;
}
.v44_855 {
  width: 25px;
  height: 20px;
  background: rgba(171,178,191,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 8px;
}
.v502_1788 {
  width: 32px;
  height: 32px;
  background: url("../images/v502_1788.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3059px;
  left: 1185px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v502_1790 {
  width: 32px;
  height: 32px;
  background: url("../images/v502_1790.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3059px;
  left: 1212px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
