.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-about {
  width: 100%;
  height: 1787px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-background);
}
.about-background {
  top: 256px;
  left: -77px;
  width: 1530px;
  height: 1237px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-frame31 {
  gap: 16px;
  top: 1134px;
  left: 1363px;
  width: 103px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.about-frame22 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse23 {
  width: 4px;
  height: 4px;
}
.about-ellipse21 {
  width: 4px;
  height: 4px;
}
.about-ellipse22 {
  width: 4px;
  height: 4px;
}
.about-ellipse20 {
  width: 4px;
  height: 4px;
}
.about-ellipse36 {
  width: 4px;
  height: 4px;
}
.about-frame23 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse25 {
  width: 4px;
  height: 4px;
}
.about-ellipse26 {
  width: 4px;
  height: 4px;
}
.about-ellipse24 {
  width: 4px;
  height: 4px;
}
.about-ellipse19 {
  width: 4px;
  height: 4px;
}
.about-ellipse3601 {
  width: 4px;
  height: 4px;
}
.about-frame24 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse29 {
  width: 4px;
  height: 4px;
}
.about-ellipse30 {
  width: 4px;
  height: 4px;
}
.about-ellipse28 {
  width: 4px;
  height: 4px;
}
.about-ellipse1901 {
  width: 4px;
  height: 4px;
}
.about-ellipse3602 {
  width: 4px;
  height: 4px;
}
.about-frame25 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse33 {
  width: 4px;
  height: 4px;
}
.about-ellipse34 {
  width: 4px;
  height: 4px;
}
.about-ellipse32 {
  width: 4px;
  height: 4px;
}
.about-ellipse1902 {
  width: 4px;
  height: 4px;
}
.about-ellipse3603 {
  width: 4px;
  height: 4px;
}
.about-frame26 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse331 {
  width: 4px;
  height: 4px;
}
.about-ellipse341 {
  width: 4px;
  height: 4px;
}
.about-ellipse321 {
  width: 4px;
  height: 4px;
}
.about-ellipse1903 {
  width: 4px;
  height: 4px;
}
.about-ellipse3604 {
  width: 4px;
  height: 4px;
}
.about-frame36 {
  gap: 16px;
  top: 511px;
  left: 1390px;
  width: 103px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.about-frame2201 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse231 {
  width: 4px;
  height: 4px;
}
.about-ellipse211 {
  width: 4px;
  height: 4px;
}
.about-ellipse221 {
  width: 4px;
  height: 4px;
}
.about-ellipse201 {
  width: 4px;
  height: 4px;
}
.about-ellipse3605 {
  width: 4px;
  height: 4px;
}
.about-frame2301 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse251 {
  width: 4px;
  height: 4px;
}
.about-ellipse261 {
  width: 4px;
  height: 4px;
}
.about-ellipse241 {
  width: 4px;
  height: 4px;
}
.about-ellipse1904 {
  width: 4px;
  height: 4px;
}
.about-ellipse3606 {
  width: 4px;
  height: 4px;
}
.about-frame241 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse291 {
  width: 4px;
  height: 4px;
}
.about-ellipse301 {
  width: 4px;
  height: 4px;
}
.about-ellipse281 {
  width: 4px;
  height: 4px;
}
.about-ellipse1905 {
  width: 4px;
  height: 4px;
}
.about-ellipse3607 {
  width: 4px;
  height: 4px;
}
.about-frame251 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse332 {
  width: 4px;
  height: 4px;
}
.about-ellipse342 {
  width: 4px;
  height: 4px;
}
.about-ellipse322 {
  width: 4px;
  height: 4px;
}
.about-ellipse1906 {
  width: 4px;
  height: 4px;
}
.about-ellipse3608 {
  width: 4px;
  height: 4px;
}
.about-frame261 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse333 {
  width: 4px;
  height: 4px;
}
.about-ellipse343 {
  width: 4px;
  height: 4px;
}
.about-ellipse323 {
  width: 4px;
  height: 4px;
}
.about-ellipse1907 {
  width: 4px;
  height: 4px;
}
.about-ellipse3609 {
  width: 4px;
  height: 4px;
}
.about-frame28 {
  gap: 16px;
  top: 145px;
  left: 46px;
  width: 109px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.about-frame2202 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse232 {
  width: 4px;
  height: 4px;
}
.about-ellipse212 {
  width: 4px;
  height: 4px;
}
.about-ellipse222 {
  width: 4px;
  height: 4px;
}
.about-ellipse202 {
  width: 4px;
  height: 4px;
}
.about-ellipse3610 {
  width: 4px;
  height: 4px;
}
.about-frame2302 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse252 {
  width: 4px;
  height: 4px;
}
.about-ellipse262 {
  width: 4px;
  height: 4px;
}
.about-ellipse242 {
  width: 4px;
  height: 4px;
}
.about-ellipse1908 {
  width: 4px;
  height: 4px;
}
.about-ellipse3611 {
  width: 4px;
  height: 4px;
}
.about-frame242 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse292 {
  width: 4px;
  height: 4px;
}
.about-ellipse302 {
  width: 4px;
  height: 4px;
}
.about-ellipse282 {
  width: 4px;
  height: 4px;
}
.about-ellipse1909 {
  width: 4px;
  height: 4px;
}
.about-ellipse3612 {
  width: 4px;
  height: 4px;
}
.about-frame262 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse334 {
  width: 4px;
  height: 4px;
}
.about-ellipse344 {
  width: 4px;
  height: 4px;
}
.about-ellipse324 {
  width: 4px;
  height: 4px;
}
.about-ellipse1910 {
  width: 4px;
  height: 4px;
}
.about-ellipse3613 {
  width: 4px;
  height: 4px;
}
.about-rectangle25 {
  top: 965px;
  left: 0px;
  width: 155px;
  height: 155px;
  position: absolute;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.about-rectangle251 {
  top: 0px;
  left: 1375px;
  width: 155px;
  height: 155px;
  position: absolute;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.about-footer {
  gap: 32px;
  top: 1578px;
  left: 0px;
  width: 1366px;
  display: flex;
  padding: 0 0 32px;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.about-line1-stroke {
  width: 1366px;
  height: 1px;
}
.about-frame49 {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-frame491 {
  gap: 437px;
  width: 1025px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-frame243 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame59 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.about-frame16 {
  gap: 9px;
  display: flex;
  align-items: center;
}
.about-logo {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-union {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.about-text {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text002 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text004 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame2303 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-text006 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-group22 {
  width: 72px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-github {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.about-figma {
  top: 0px;
  left: 40px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-discord {
  top: 0px;
  left: 32px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.about-text008 {
  color: var(--dl-color-default-gray);
  width: 298px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-title {
  top: 114px;
  left: 171px;
  width: 174px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-frame47 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.about-text010 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text011 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text013 {
  top: 56px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-about1 {
  top: 199px;
  left: 176px;
  width: 1028px;
  height: 520px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-group50 {
  top: 0px;
  left: 685px;
  width: 343px;
  height: 508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-jcgellidon-e3-um--scugounsplashremovebgpreview11 {
  top: 0px;
  left: 4px;
  width: 339px;
  height: 507px;
  position: absolute;
}
.about-frame29 {
  gap: 16px;
  top: 59px;
  left: 0px;
  width: 84px;
  height: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.about-frame2203 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse233 {
  width: 4px;
  height: 4px;
}
.about-ellipse213 {
  width: 4px;
  height: 4px;
}
.about-ellipse223 {
  width: 4px;
  height: 4px;
}
.about-ellipse203 {
  width: 4px;
  height: 4px;
}
.about-ellipse3614 {
  width: 4px;
  height: 4px;
}
.about-frame2304 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse253 {
  width: 4px;
  height: 4px;
}
.about-ellipse263 {
  width: 4px;
  height: 4px;
}
.about-ellipse243 {
  width: 4px;
  height: 4px;
}
.about-ellipse1911 {
  width: 4px;
  height: 4px;
}
.about-ellipse3615 {
  width: 4px;
  height: 4px;
}
.about-frame244 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse293 {
  width: 4px;
  height: 4px;
}
.about-ellipse303 {
  width: 4px;
  height: 4px;
}
.about-ellipse283 {
  width: 4px;
  height: 4px;
}
.about-ellipse1912 {
  width: 4px;
  height: 4px;
}
.about-ellipse3616 {
  width: 4px;
  height: 4px;
}
.about-frame252 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse335 {
  width: 4px;
  height: 4px;
}
.about-ellipse345 {
  width: 4px;
  height: 4px;
}
.about-ellipse325 {
  width: 4px;
  height: 4px;
}
.about-ellipse1913 {
  width: 4px;
  height: 4px;
}
.about-ellipse3617 {
  width: 4px;
  height: 4px;
}
.about-frame263 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse336 {
  width: 4px;
  height: 4px;
}
.about-ellipse346 {
  width: 4px;
  height: 4px;
}
.about-ellipse326 {
  width: 4px;
  height: 4px;
}
.about-ellipse1914 {
  width: 4px;
  height: 4px;
}
.about-ellipse3618 {
  width: 4px;
  height: 4px;
}
.about-frame30 {
  gap: 16px;
  top: 279px;
  left: 223px;
  width: 104px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.about-frame2204 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse234 {
  width: 4px;
  height: 4px;
}
.about-ellipse214 {
  width: 4px;
  height: 4px;
}
.about-ellipse224 {
  width: 4px;
  height: 4px;
}
.about-ellipse204 {
  width: 4px;
  height: 4px;
}
.about-ellipse3619 {
  width: 4px;
  height: 4px;
}
.about-frame2305 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse254 {
  width: 4px;
  height: 4px;
}
.about-ellipse264 {
  width: 4px;
  height: 4px;
}
.about-ellipse244 {
  width: 4px;
  height: 4px;
}
.about-ellipse1915 {
  width: 4px;
  height: 4px;
}
.about-ellipse3620 {
  width: 4px;
  height: 4px;
}
.about-frame245 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse294 {
  width: 4px;
  height: 4px;
}
.about-ellipse304 {
  width: 4px;
  height: 4px;
}
.about-ellipse284 {
  width: 4px;
  height: 4px;
}
.about-ellipse1916 {
  width: 4px;
  height: 4px;
}
.about-ellipse3621 {
  width: 4px;
  height: 4px;
}
.about-frame264 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse337 {
  width: 4px;
  height: 4px;
}
.about-ellipse347 {
  width: 4px;
  height: 4px;
}
.about-ellipse327 {
  width: 4px;
  height: 4px;
}
.about-ellipse1917 {
  width: 4px;
  height: 4px;
}
.about-ellipse3622 {
  width: 4px;
  height: 4px;
}
.about-line-stroke {
  top: 507px;
  left: 48px;
  width: 271px;
  height: 1px;
  position: absolute;
  flex-grow: 1;
}
.about-text015 {
  top: 104px;
  color: var(--dl-color-default-gray);
  width: 515px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.about-skills {
  top: 819px;
  left: 171px;
  width: 1024px;
  height: 222px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-h2 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.about-text028 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text029 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame51 {
  gap: 16px;
  top: 90px;
  left: 0px;
  width: 1024px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-block {
  gap: 8px;
  width: 181.5px;
  display: flex;
  padding: 8px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.about-frame591 {
  display: flex;
  padding: 0 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-text031 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-line13 {
  width: 181px;
  height: 1px;
  align-self: stretch;
}
.about-frame19 {
  gap: 8px;
  display: flex;
  padding: 0 8px;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame2205 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.about-text033 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text035 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame2206 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.about-text037 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text039 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame253 {
  gap: 8px;
  width: 181.5px;
  display: flex;
  padding: 8px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.about-frame592 {
  display: flex;
  padding: 0 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-text041 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-line131 {
  width: 181px;
  height: 1px;
  align-self: stretch;
}
.about-frame191 {
  gap: 8px;
  display: flex;
  padding: 0 8px;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame2207 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.about-text043 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text045 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text047 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text049 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame2208 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.about-frame27 {
  gap: 8px;
  display: flex;
  padding: 8px 0;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.about-frame593 {
  display: flex;
  padding: 0 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-text051 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-line132 {
  width: 234px;
  height: 1px;
  align-self: stretch;
}
.about-frame192 {
  gap: 8px;
  display: flex;
  padding: 0 8px;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame2209 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.about-text053 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text055 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text057 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame2210 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.about-text058 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text060 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text062 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame2306 {
  gap: 11px;
  display: flex;
  align-items: flex-start;
}
.about-text063 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text065 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame2307 {
  gap: 8px;
  width: 181.5px;
  display: flex;
  padding: 8px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.about-frame594 {
  display: flex;
  padding: 0 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-text067 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-line133 {
  width: 181px;
  height: 1px;
  align-self: stretch;
}
.about-frame193 {
  gap: 8px;
  display: flex;
  padding: 0 8px;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame2211 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.about-text069 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame246 {
  gap: 8px;
  width: 181.5px;
  display: flex;
  padding: 8px 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.about-frame595 {
  display: flex;
  padding: 0 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-text071 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-line134 {
  width: 181px;
  height: 1px;
  align-self: stretch;
}
.about-frame194 {
  gap: 8px;
  display: flex;
  padding: 0 8px;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame2212 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.about-text073 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text075 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame2213 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.about-text077 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text079 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame2308 {
  gap: 11px;
  display: flex;
  align-items: flex-start;
}
.about-text081 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text083 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-facts {
  top: 1153px;
  left: 171px;
  width: 939px;
  height: 237.00006103515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-frame52 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.about-text085 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text086 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame53 {
  gap: 16px;
  top: 68px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame531 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.about-fact {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.about-text088 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame54 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.about-text090 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame532 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.about-frame58 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.about-text092 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame57 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.about-text094 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame571 {
  gap: 17px;
  display: flex;
  align-items: flex-start;
}
.about-frame55 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.about-text096 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame581 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.about-text098 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-group53 {
  top: 68px;
  left: 761px;
  width: 178px;
  height: 169.00006103515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-frame37 {
  gap: 16px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.about-frame2214 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse235 {
  width: 4px;
  height: 4px;
}
.about-ellipse215 {
  width: 4px;
  height: 4px;
}
.about-ellipse225 {
  width: 4px;
  height: 4px;
}
.about-ellipse205 {
  width: 4px;
  height: 4px;
}
.about-frame2309 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse255 {
  width: 4px;
  height: 4px;
}
.about-ellipse265 {
  width: 4px;
  height: 4px;
}
.about-ellipse245 {
  width: 4px;
  height: 4px;
}
.about-ellipse1918 {
  width: 4px;
  height: 4px;
}
.about-frame247 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse295 {
  width: 4px;
  height: 4px;
}
.about-ellipse305 {
  width: 4px;
  height: 4px;
}
.about-ellipse285 {
  width: 4px;
  height: 4px;
}
.about-ellipse1919 {
  width: 4px;
  height: 4px;
}
.about-frame254 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-ellipse338 {
  width: 4px;
  height: 4px;
}
.about-ellipse348 {
  width: 4px;
  height: 4px;
}
.about-ellipse328 {
  width: 4px;
  height: 4px;
}
.about-ellipse1920 {
  width: 4px;
  height: 4px;
}
.about-logo1 {
  top: 56px;
  left: 65px;
  width: 113px;
  height: 113.00006103515625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-union1 {
  top: 0px;
  left: 56.5px;
  width: 56px;
  height: 85px;
  position: absolute;
}
.about-union2 {
  top: 28.250062942504883px;
  left: 0px;
  width: 56px;
  height: 85px;
  position: absolute;
  box-sizing: content-box;
}
.about-header {
  gap: 555px;
  top: 0px;
  left: 171px;
  width: 1024px;
  display: flex;
  padding: 32px 0 8px;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-background);
}
.about-frame40 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.about-logo2 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-union3 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.about-text100 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame1 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
}
.about-headerlink {
  display: flex;
  align-items: flex-start;
}
.about-text102 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text103 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-headerlink1 {
  display: flex;
  align-items: flex-start;
}
.about-text105 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text106 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-headerlink2 {
  display: flex;
  align-items: flex-start;
}
.about-text108 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text109 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-headerlink3 {
  display: flex;
  align-items: flex-start;
}
.about-text111 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text112 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-languageswitcher {
  gap: 4px;
  display: flex;
  position: relative;
  align-items: center;
}
.about-text114 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-group58 {
  width: 10px;
  height: 5px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-line14 {
  top: 1.0677095474420639e-7px;
  left: 0px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.about-line15 {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.about-frame596 {
  gap: 8px;
  height: 1px;
  display: flex;
  opacity: 0.00;
  padding: 8px;
  z-index: 2;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-default-background);
}
.about-text116 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text118 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-media {
  top: 0px;
  left: 17px;
  width: 32px;
  height: 311px;
  position: absolute;
}
