.burger-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.burger-burger {
  width: 100%;
  height: 706px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-background);
}
.burger-header {
  gap: 555px;
  top: 0px;
  left: 0px;
  width: 360px;
  display: flex;
  padding: 16px 16px 8px;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-background);
}
.burger-frame40 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.burger-logo {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.burger-union {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.burger-text {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burger-frame60 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.burger-rectangle28 {
  top: 5px;
  left: 0px;
  width: 24px;
  height: 2px;
  position: absolute;
}
.burger-rectangle29 {
  top: 12px;
  left: 9px;
  width: 15px;
  height: 2px;
  position: absolute;
}
.burger-text01 {
  top: 82px;
  left: 16px;
  color: rgb(255, 255, 255);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burger-text02 {
  color: var(--dl-color-default-white);
}
.burger-text03 {
  color: var(--dl-color-default-primary);
}
.burger-text04 {
  color: var(--dl-color-default-white);
}
.burger-text06 {
  top: 275px;
  left: 16px;
  color: var(--dl-color-default-gray);
  width: 328px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burger-button {
  gap: 10px;
  top: 341px;
  left: -390px;
  width: 148px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.burger-text08 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burger-group47 {
  top: 341px;
  left: 22px;
  width: 316.0000305175781px;
  height: 260.0767822265625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.burger-logo1 {
  top: 56.5970344543457px;
  left: 0px;
  width: 104.43498229980469px;
  height: 104.43498229980469px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.burger-union1 {
  top: 26.108745574951172px;
  left: 0px;
  width: 52px;
  height: 78px;
  position: absolute;
}
.burger-union2 {
  top: 0px;
  left: 52.217491149902344px;
  width: 52px;
  height: 78px;
  position: absolute;
  box-sizing: content-box;
}
.burger-imageremovebgpreview2 {
  top: 5.6843418860808015e-14px;
  left: 8.085299491882324px;
  width: 308px;
  height: 260px;
  position: absolute;
}
.burger-dots {
  gap: 16px;
  top: 165.7484130859375px;
  left: 248.62266540527344px;
  width: 56.597023010253906px;
  height: 56.597023010253906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.burger-frame22 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.burger-ellipse23 {
  width: 4px;
  height: 4px;
}
.burger-ellipse21 {
  width: 4px;
  height: 4px;
}
.burger-ellipse22 {
  width: 4px;
  height: 4px;
}
.burger-ellipse20 {
  width: 4px;
  height: 4px;
}
.burger-ellipse36 {
  width: 4px;
  height: 4px;
}
.burger-frame23 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.burger-ellipse25 {
  width: 4px;
  height: 4px;
}
.burger-ellipse26 {
  width: 4px;
  height: 4px;
}
.burger-ellipse24 {
  width: 4px;
  height: 4px;
}
.burger-ellipse19 {
  width: 4px;
  height: 4px;
}
.burger-ellipse361 {
  width: 4px;
  height: 4px;
}
.burger-frame24 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.burger-ellipse29 {
  width: 4px;
  height: 4px;
}
.burger-ellipse30 {
  width: 4px;
  height: 4px;
}
.burger-ellipse28 {
  width: 4px;
  height: 4px;
}
.burger-ellipse191 {
  width: 4px;
  height: 4px;
}
.burger-ellipse362 {
  width: 4px;
  height: 4px;
}
.burger-frame25 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.burger-ellipse33 {
  width: 4px;
  height: 4px;
}
.burger-ellipse34 {
  width: 4px;
  height: 4px;
}
.burger-ellipse32 {
  width: 4px;
  height: 4px;
}
.burger-ellipse192 {
  width: 4px;
  height: 4px;
}
.burger-ellipse363 {
  width: 4px;
  height: 4px;
}
.burger-frame26 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.burger-ellipse331 {
  width: 4px;
  height: 4px;
}
.burger-ellipse341 {
  width: 4px;
  height: 4px;
}
.burger-ellipse321 {
  width: 4px;
  height: 4px;
}
.burger-ellipse193 {
  width: 4px;
  height: 4px;
}
.burger-ellipse364 {
  width: 4px;
  height: 4px;
}
.burger-frame58 {
  gap: 10px;
  top: 601px;
  left: 20px;
  width: 320px;
  display: flex;
  padding: 8px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-default-background);
}
.burger-rectangle27 {
  width: 16px;
  height: 16px;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.burger-text10 {
  color: rgb(171, 178, 191);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burger-text11 {
  color: var(--dl-color-default-gray);
  font-weight: 500;
}
