.burgeropen-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.burgeropen-burgeropen {
  width: 100%;
  height: 640px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-background);
}
.burgeropen-header {
  gap: 555px;
  top: 0px;
  left: 0px;
  width: 360px;
  display: flex;
  padding: 16px 16px 8px;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-background);
}
.burgeropen-frame40 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.burgeropen-logo {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.burgeropen-union {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.burgeropen-text {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-frame60 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.burgeropen-rectangle29 {
  top: 12px;
  left: 11px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.burgeropen-rectangle28 {
  top: 19.970561981201172px;
  left: 3px;
  width: 24px;
  height: 2px;
  position: absolute;
}
.burgeropen-rectangle30 {
  top: 3px;
  left: 4px;
  width: 24px;
  height: 2px;
  position: absolute;
}
.burgeropen-frame1 {
  gap: 32px;
  top: 95px;
  left: 16px;
  width: 174px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.burgeropen-navlink {
  display: flex;
  align-items: flex-start;
}
.burgeropen-text02 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-text03 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-navlink1 {
  display: flex;
  align-items: flex-start;
}
.burgeropen-text05 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-text06 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-navlink2 {
  display: flex;
  align-items: flex-start;
}
.burgeropen-text08 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-text09 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-navlink3 {
  display: flex;
  align-items: flex-start;
}
.burgeropen-text11 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-text12 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-languageswitcher {
  gap: 4px;
  display: flex;
  position: relative;
  align-items: center;
}
.burgeropen-text14 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-group58 {
  width: 10px;
  height: 5px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.burgeropen-line14 {
  top: 1.0677095474420639e-7px;
  left: 0px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.burgeropen-line15 {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.burgeropen-frame59 {
  gap: 8px;
  height: 1px;
  display: flex;
  opacity: 0.00;
  padding: 8px;
  z-index: 2;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-default-background);
}
.burgeropen-text16 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-text18 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.burgeropen-frame16 {
  gap: 8px;
  top: 540px;
  left: 74px;
  width: 208px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.burgeropen-github {
  width: 64px;
  height: 64px;
}
.burgeropen-dribble {
  width: 64px;
  height: 64px;
}
.burgeropen-figma {
  width: 64px;
  height: 64px;
}
