.contacts-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contacts-contacts {
  width: 100%;
  height: 1007px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  align-content: center;
  background-color: var(--dl-color-default-background);
}
.contacts-background {
  top: 256px;
  left: -77px;
  width: 1530px;
  height: 1237px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contacts-frame31 {
  gap: 16px;
  top: 1134px;
  left: 1363px;
  width: 103px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-frame22 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse23 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse21 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse22 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse20 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse36 {
  width: 4px;
  height: 4px;
}
.contacts-frame23 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse25 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse26 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse24 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse19 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3601 {
  width: 4px;
  height: 4px;
}
.contacts-frame24 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse29 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse30 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse28 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse1901 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3602 {
  width: 4px;
  height: 4px;
}
.contacts-frame25 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse33 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse34 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse32 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse1902 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3603 {
  width: 4px;
  height: 4px;
}
.contacts-frame26 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse331 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse341 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse321 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse1903 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3604 {
  width: 4px;
  height: 4px;
}
.contacts-frame36 {
  gap: 16px;
  top: 511px;
  left: 1390px;
  width: 103px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-frame221 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse231 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse211 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse221 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse201 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3605 {
  width: 4px;
  height: 4px;
}
.contacts-frame231 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse251 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse261 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse241 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse1904 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3606 {
  width: 4px;
  height: 4px;
}
.contacts-frame241 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse291 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse301 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse281 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse1905 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3607 {
  width: 4px;
  height: 4px;
}
.contacts-frame251 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse332 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse342 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse322 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse1906 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3608 {
  width: 4px;
  height: 4px;
}
.contacts-frame261 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse333 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse343 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse323 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse1907 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3609 {
  width: 4px;
  height: 4px;
}
.contacts-frame28 {
  gap: 16px;
  top: 145px;
  left: 46px;
  width: 109px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-frame222 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse232 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse212 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse222 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse202 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3610 {
  width: 4px;
  height: 4px;
}
.contacts-frame232 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse252 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse262 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse242 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse1908 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3611 {
  width: 4px;
  height: 4px;
}
.contacts-frame242 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse292 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse302 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse282 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse1909 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3612 {
  width: 4px;
  height: 4px;
}
.contacts-frame262 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-ellipse334 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse344 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse324 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse1910 {
  width: 4px;
  height: 4px;
}
.contacts-ellipse3613 {
  width: 4px;
  height: 4px;
}
.contacts-rectangle25 {
  top: 965px;
  left: 0px;
  width: 155px;
  height: 155px;
  position: absolute;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.contacts-rectangle251 {
  top: 0px;
  left: 1375px;
  width: 155px;
  height: 155px;
  position: absolute;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.contacts-footer {
  gap: 32px;
  left: 16px;
  width: 1366px;
  bottom: -15px;
  display: flex;
  padding: 0 0 32px;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.contacts-line1-stroke {
  width: 1366px;
  height: 1px;
}
.contacts-frame49 {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contacts-frame491 {
  gap: 437px;
  width: 1025px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.contacts-frame243 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contacts-frame59 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.contacts-frame16 {
  gap: 9px;
  display: flex;
  align-items: center;
}
.contacts-logo {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-union {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.contacts-text {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text02 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text04 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-frame233 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contacts-text06 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-group22 {
  width: 72px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.contacts-github {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.contacts-figma {
  top: 0px;
  left: 40px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-discord {
  top: 0px;
  left: 32px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.contacts-text08 {
  color: var(--dl-color-default-gray);
  width: 298px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-title {
  top: 114px;
  left: 171px;
  width: 174px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contacts-frame47 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.contacts-text10 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text13 {
  top: 56px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-h2 {
  top: 403px;
  left: 171px;
  width: 193px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.contacts-text15 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text16 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-media {
  gap: 5px;
  top: 467px;
  left: 171px;
  width: 124px;
  display: flex;
  position: absolute;
  align-items: center;
}
.contacts-twitter {
  width: 32px;
  height: 32px;
}
.contacts-text18 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-contact {
  top: 237px;
  left: 171px;
  width: 1071px;
  height: 141px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contacts-group43 {
  top: 0px;
  left: 0px;
  width: 505px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contacts-text20 {
  color: var(--dl-color-default-gray);
  width: 505px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-group57 {
  top: 0px;
  left: 622px;
  width: 449px;
  height: 141px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.contacts-frame33 {
  gap: 16px;
  top: 0px;
  left: 197px;
  display: flex;
  padding: 16px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.contacts-text22 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-frame32 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contacts-group32 {
  gap: 5px;
  display: flex;
  align-items: center;
}
.contacts-discord1 {
  width: 32px;
  height: 32px;
}
.contacts-text24 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-group34 {
  gap: 5px;
  display: flex;
  align-items: center;
}
.contacts-email {
  width: 32px;
  height: 32px;
}
.contacts-text26 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-frame58 {
  gap: 8px;
  top: 0px;
  left: 0px;
  display: flex;
  padding: 16px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.contacts-text28 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text30 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-header {
  gap: 555px;
  top: 0px;
  left: 171px;
  width: 1024px;
  display: flex;
  padding: 32px 0 8px;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-background);
}
.contacts-frame40 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.contacts-logo1 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-union1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.contacts-text32 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-frame1 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
}
.contacts-headerlink {
  display: flex;
  align-items: flex-start;
}
.contacts-text34 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text35 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-headerlink1 {
  display: flex;
  align-items: flex-start;
}
.contacts-text37 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text38 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-headerlink2 {
  display: flex;
  align-items: flex-start;
}
.contacts-text40 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text41 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-headerlink3 {
  display: flex;
  align-items: flex-start;
}
.contacts-text43 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text44 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-languageswitcher {
  gap: 4px;
  display: flex;
  position: relative;
  align-items: center;
}
.contacts-text46 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-group58 {
  width: 10px;
  height: 5px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.contacts-line14 {
  top: 1.0677095474420639e-7px;
  left: 0px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.contacts-line15 {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.contacts-frame591 {
  gap: 8px;
  height: 1px;
  display: flex;
  opacity: 0.00;
  padding: 8px;
  z-index: 2;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-default-background);
}
.contacts-text48 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-text50 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contacts-media1 {
  top: 0px;
  left: 17px;
  width: 32px;
  height: 311px;
  position: absolute;
}
