.projects-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.projects-projects {
  width: 100%;
  height: 2265px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
  background-color: var(--dl-color-default-background);
}
.projects-background {
  top: 256px;
  left: -77px;
  width: 1530px;
  height: 1648px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.projects-frame31 {
  gap: 16px;
  top: 1134px;
  left: 1363px;
  width: 103px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.projects-frame22 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse23 {
  width: 4px;
  height: 4px;
}
.projects-ellipse21 {
  width: 4px;
  height: 4px;
}
.projects-ellipse22 {
  width: 4px;
  height: 4px;
}
.projects-ellipse20 {
  width: 4px;
  height: 4px;
}
.projects-ellipse36 {
  width: 4px;
  height: 4px;
}
.projects-frame23 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse25 {
  width: 4px;
  height: 4px;
}
.projects-ellipse26 {
  width: 4px;
  height: 4px;
}
.projects-ellipse24 {
  width: 4px;
  height: 4px;
}
.projects-ellipse19 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3601 {
  width: 4px;
  height: 4px;
}
.projects-frame24 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse29 {
  width: 4px;
  height: 4px;
}
.projects-ellipse30 {
  width: 4px;
  height: 4px;
}
.projects-ellipse28 {
  width: 4px;
  height: 4px;
}
.projects-ellipse1901 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3602 {
  width: 4px;
  height: 4px;
}
.projects-frame25 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse33 {
  width: 4px;
  height: 4px;
}
.projects-ellipse34 {
  width: 4px;
  height: 4px;
}
.projects-ellipse32 {
  width: 4px;
  height: 4px;
}
.projects-ellipse1902 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3603 {
  width: 4px;
  height: 4px;
}
.projects-frame26 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse331 {
  width: 4px;
  height: 4px;
}
.projects-ellipse341 {
  width: 4px;
  height: 4px;
}
.projects-ellipse321 {
  width: 4px;
  height: 4px;
}
.projects-ellipse1903 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3604 {
  width: 4px;
  height: 4px;
}
.projects-frame36 {
  gap: 16px;
  top: 1545px;
  left: 26px;
  width: 103px;
  height: 103px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.projects-frame221 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse231 {
  width: 4px;
  height: 4px;
}
.projects-ellipse211 {
  width: 4px;
  height: 4px;
}
.projects-ellipse221 {
  width: 4px;
  height: 4px;
}
.projects-ellipse201 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3605 {
  width: 4px;
  height: 4px;
}
.projects-frame231 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse251 {
  width: 4px;
  height: 4px;
}
.projects-ellipse261 {
  width: 4px;
  height: 4px;
}
.projects-ellipse241 {
  width: 4px;
  height: 4px;
}
.projects-ellipse1904 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3606 {
  width: 4px;
  height: 4px;
}
.projects-frame241 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse291 {
  width: 4px;
  height: 4px;
}
.projects-ellipse301 {
  width: 4px;
  height: 4px;
}
.projects-ellipse281 {
  width: 4px;
  height: 4px;
}
.projects-ellipse1905 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3607 {
  width: 4px;
  height: 4px;
}
.projects-frame251 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse332 {
  width: 4px;
  height: 4px;
}
.projects-ellipse342 {
  width: 4px;
  height: 4px;
}
.projects-ellipse322 {
  width: 4px;
  height: 4px;
}
.projects-ellipse1906 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3608 {
  width: 4px;
  height: 4px;
}
.projects-frame261 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse333 {
  width: 4px;
  height: 4px;
}
.projects-ellipse343 {
  width: 4px;
  height: 4px;
}
.projects-ellipse323 {
  width: 4px;
  height: 4px;
}
.projects-ellipse1907 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3609 {
  width: 4px;
  height: 4px;
}
.projects-frame28 {
  gap: 16px;
  top: 145px;
  left: 46px;
  width: 109px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.projects-frame222 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse232 {
  width: 4px;
  height: 4px;
}
.projects-ellipse212 {
  width: 4px;
  height: 4px;
}
.projects-ellipse222 {
  width: 4px;
  height: 4px;
}
.projects-ellipse202 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3610 {
  width: 4px;
  height: 4px;
}
.projects-frame232 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse252 {
  width: 4px;
  height: 4px;
}
.projects-ellipse262 {
  width: 4px;
  height: 4px;
}
.projects-ellipse242 {
  width: 4px;
  height: 4px;
}
.projects-ellipse1908 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3611 {
  width: 4px;
  height: 4px;
}
.projects-frame242 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse292 {
  width: 4px;
  height: 4px;
}
.projects-ellipse302 {
  width: 4px;
  height: 4px;
}
.projects-ellipse282 {
  width: 4px;
  height: 4px;
}
.projects-ellipse1909 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3612 {
  width: 4px;
  height: 4px;
}
.projects-frame262 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-ellipse334 {
  width: 4px;
  height: 4px;
}
.projects-ellipse344 {
  width: 4px;
  height: 4px;
}
.projects-ellipse324 {
  width: 4px;
  height: 4px;
}
.projects-ellipse1910 {
  width: 4px;
  height: 4px;
}
.projects-ellipse3613 {
  width: 4px;
  height: 4px;
}
.projects-rectangle25 {
  top: 965px;
  left: 0px;
  width: 155px;
  height: 155px;
  position: absolute;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-rectangle251 {
  top: 0px;
  left: 1375px;
  width: 155px;
  height: 155px;
  position: absolute;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-footer {
  gap: 32px;
  left: 317px;
  width: 1366px;
  bottom: 67px;
  height: 193px;
  display: flex;
  padding: 0 0 32px;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.projects-line1-stroke {
  width: 1366px;
  height: 1px;
}
.projects-title {
  top: 114px;
  left: 171px;
  width: 183px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.projects-frame47 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.projects-text {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text001 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text003 {
  top: 56px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-complete {
  top: 259px;
  left: 171px;
  width: 1026.5787353515625px;
  height: 946px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.projects-frame471 {
  gap: 16px;
  top: 90px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.projects-frame5 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-project {
  width: 332px;
  height: 428px;
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.projects-rectangle22 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
}
.projects-frame39 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text005 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text007 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text009 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text011 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame3 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
.projects-text013 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text015 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame501 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-frame6 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text017 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame7 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text019 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-group5 {
  display: flex;
  overflow: hidden;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.projects-rectangle221 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
}
.projects-frame3901 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text021 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text023 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text025 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text027 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame40 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text029 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text031 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text033 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text035 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame301 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
.projects-text037 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text039 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame502 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-frame601 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text041 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-group4 {
  width: 332px;
  height: 428px;
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.projects-rectangle222 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
}
.projects-frame3902 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text043 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text045 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text046 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame302 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
.projects-text047 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text049 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame503 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-frame602 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text051 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame48 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-project1 {
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.projects-rectangle223 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
}
.projects-frame3903 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text053 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text055 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text057 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame303 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
.projects-text059 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text061 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame504 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-frame603 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text063 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-project2 {
  width: 332px;
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.projects-rectangle224 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
}
.projects-frame3904 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text065 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text067 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame304 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
.projects-text068 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text070 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame505 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-frame604 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text072 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-h2 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.projects-text074 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text075 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-group41 {
  top: 795px;
  left: 883px;
  width: 345px;
  height: 422px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.projects-rectangle225 {
  width: 331px;
  height: 201px;
  box-sizing: content-box;
  border-color: rgba(171, 178, 191, 1);
}
.projects-frame3905 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text077 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text079 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text080 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame305 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
.projects-text081 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text083 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame506 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-frame605 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text085 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-small {
  top: 1259px;
  left: 171px;
  width: 1025px;
  height: 570px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.projects-frame481 {
  gap: 16px;
  top: 90px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.projects-frame472 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-project3 {
  width: 331px;
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.projects-frame3906 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text087 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame306 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
.projects-text089 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text091 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame507 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-frame606 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text093 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-project4 {
  width: 331px;
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.projects-frame3907 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text095 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text097 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text098 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame307 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
.projects-text099 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text101 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame508 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-frame607 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text103 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-project5 {
  width: 331px;
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.projects-frame3908 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text105 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame308 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
.projects-text107 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text109 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame509 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-frame608 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text111 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame50 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-project6 {
  width: 331px;
  display: flex;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.projects-frame3909 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-text113 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame309 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
.projects-text115 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text117 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame510 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.projects-frame609 {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  border-color: rgba(102, 185, 231, 1);
  border-style: solid;
  border-width: 1px;
}
.projects-text119 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-h21 {
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.projects-text121 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text122 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-header {
  gap: 555px;
  top: 0px;
  left: 171px;
  width: 1024px;
  display: flex;
  padding: 32px 0 8px;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-background);
}
.projects-frame401 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.projects-logo {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-union {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.projects-text124 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame1 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
}
.projects-headerlink {
  display: flex;
  align-items: flex-start;
}
.projects-text126 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text127 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-headerlink1 {
  display: flex;
  align-items: flex-start;
}
.projects-text128 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text129 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-headerlink2 {
  display: flex;
  align-items: flex-start;
}
.projects-text131 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text132 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-headerlink3 {
  display: flex;
  align-items: flex-start;
}
.projects-text134 {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text135 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-languageswitcher {
  gap: 4px;
  display: flex;
  position: relative;
  align-items: center;
}
.projects-text137 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Fira Code;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-group58 {
  width: 10px;
  height: 5px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.projects-line14 {
  top: 1.0677095474420639e-7px;
  left: 0px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.projects-line15 {
  top: 5px;
  left: 5px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.projects-frame59 {
  gap: 8px;
  height: 1px;
  display: flex;
  opacity: 0.00;
  padding: 8px;
  z-index: 2;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 178, 191, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-default-background);
}
.projects-text139 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text141 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-media {
  top: 0px;
  left: 17px;
  width: 32px;
  height: 311px;
  position: absolute;
}
.projects-frame49 {
  gap: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projects-frame491 {
  gap: 437px;
  width: 1025px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.projects-frame243 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-frame591 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.projects-frame16 {
  gap: 9px;
  display: flex;
  align-items: center;
}
.projects-logo1 {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-union1 {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.projects-text143 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text145 {
  color: var(--dl-color-default-gray);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-text147 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-frame233 {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-text149 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Fira Code;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.projects-group22 {
  width: 72px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.projects-github {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.projects-figma {
  top: 0px;
  left: 40px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.projects-discord {
  top: 0px;
  left: 32px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.projects-text151 {
  color: var(--dl-color-default-gray);
  width: 298px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Fira Code;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .projects-container {
    align-content: center;
  }
}
