.root {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 5px;
}
.Elias {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
