.frame31.frame31 {
  position: absolute;
  left: 1286px;
  top: 2294px;
  width: 103px;
  height: 103px;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.frame36.frame36 {
  position: absolute;
  left: -51px;
  top: 2705px;
  width: 103px;
  height: 103px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.frame28.frame28 {
  position: absolute;
  left: -46px;
  top: 955px;
  width: min-content;
  height: min-content;
}
.group28.group28 {
  left: 170px;
  top: 2611px;
  width: 317px;
}
.projects {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.discord.discord {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.Elias {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.Elias2 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.button.button {
  left: 171px;
  right: initial;
  top: 2461px;
  bottom: initial;
}
.live {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group27.group27 {
  left: 170px;
  top: 1991px;
  width: 516px;
}
.projects2 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.frame29.frame29 {
  position: absolute;
  left: 852px;
  top: 2050px;
}
.frame30.frame30 {
  position: absolute;
  left: 1075px;
  top: 2270px;
  width: 104px;
  height: 56px;
  align-items: flex-start;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.group26.group26 {
  left: 173px;
  top: 1514px;
  width: 391px;
}
.projects3 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.frame23.frame23 {
  left: 800px;
  top: 1599px;
}
.languages {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.kotlin {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame24.frame24 {
  left: 994px;
  top: 1747px;
  width: 131px;
  height: 139px;
}
.languages2 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.kotlin2 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.javaScript {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame232.frame232 {
  align-items: flex-start;
}
.javaScript2 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame25.frame25 {
  left: 800px;
  top: 1697px;
  width: 147px;
  height: 80px;
}
.languages3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.kotlin3 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.java {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.lua {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame26.frame26 {
  left: 973px;
  top: 1581px;
}
.languages4 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.kotlin4 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.java2 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.gLSL {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.javaScript3 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame233.frame233 {
  align-items: flex-start;
}
.python {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.javaScript4 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame27.frame27 {
  position: absolute;
  left: 205px;
  top: 1606px;
  width: 63px;
  height: 63px;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.frame282.frame282 {
  position: absolute;
  left: 382px;
  top: 1711px;
  width: 63px;
  height: 63px;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.icon25 {
  width: 100%;
  height: 100%;
}
.icon26 {
  width: 100%;
  height: 100%;
}
.icon27 {
  width: 100%;
  height: 100%;
}
.group3.group3 {
  overflow: hidden;
}
.rectangle22.rectangle22 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle222.jpg');
}
.hTML {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.java3 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.kotlin5 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame40.frame40 {
  align-items: flex-start;
}
.azure {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.minecraftNetwork {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.rectangle222.rectangle222 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle223.jpg');
}
.hTML2 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.azure2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.minecraftNetwork2 {
  color: #abb2bf;
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.button2.button2 {
  left: 171px;
  right: initial;
  top: 387px;
  bottom: initial;
}
.live2 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.logo.logo {
  left: 726px;
  top: 207px;
  width: 155px;
  height: 155px;
}
.union.union {
  top: 38.75px;
  width: 77.5px;
  height: 116.25px;
}
.union {
  top: 38.75px;
  width: 77.5px;
  height: 116.25px;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.union2.union2 {
  left: 77.5px;
  width: 77.5px;
  height: 116.25px;
}
.union2 {
  left: 77.5px;
  width: 77.5px;
  height: 116.25px;
}
.icon29 {
  width: 100%;
  height: 100%;
}
.dots.dots {
  position: absolute;
  left: 1095px;
  top: 369px;
}
.header.header {
  position: absolute;
  left: 171px;
  top: 0;
}
.elias {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group58.group58.group58 {
  position: relative;
}
.root {
  position: relative;
  width: 1366px;
  height: 3192px;
  align-items: flex-start;
  background-color: #282c33;
  overflow: hidden;
}
.rectangle25 {
  position: absolute;
  left: -77px;
  top: 2125px;
  width: 155px;
  height: 155px;
  outline: solid 1px #abb2bf;
  outline-offset: -1px;
}
.rectangle252 {
  position: absolute;
  left: 1298px;
  top: 1160px;
  width: 155px;
  height: 155px;
  outline: solid 1px #abb2bf;
  outline-offset: -1px;
}
.rectangle26 {
  position: absolute;
  left: 1284px;
  top: 672px;
  width: 91px;
  height: 91px;
  outline: solid 1px #abb2bf;
  outline-offset: -1px;
}
.iMInterestedInFreelanceOpportu {
  color: #abb2bf;
  font-size: 16px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 170px;
  top: 2698px;
  width: 505px;
  height: min-content;
  flex-direction: column;
}
.frame33 {
  position: absolute;
  left: 989px;
  top: 2698px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  outline: solid 1px #abb2bf;
  outline-offset: -1px;
}
.messageMeHere {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame32 {
  z-index: 0;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.iMPajamaJadenMedinaIAmAFulltim {
  position: absolute;
  left: 171px;
  top: 2056px;
  width: 515px;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #abb2bf;
  font-size: 16px;
  line-height: 26px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #abb2bf;
  font-size: 16px;
  line-height: 26px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #abb2bf;
  font-size: 16px;
  line-height: 26px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #abb2bf;
  font-size: 16px;
  line-height: 26px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #abb2bf;
  font-size: 16px;
  line-height: 26px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #abb2bf;
  font-size: 16px;
  line-height: 26px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #abb2bf;
  font-size: 16px;
  line-height: 26px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #abb2bf;
  font-size: 16px;
  line-height: 26px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.image {
  position: absolute;
  left: 856px;
  top: 2074px;
  width: 430px;
  height: 424px;
  background-image:/* webpackIgnore: true */ url('/assets/image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.line7Stroke {
  position: absolute;
  left: 900px;
  top: 2498px;
  width: 271px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  flex: 1;
  overflow: visible;
}
.icon30 {
  width: 100%;
  height: 100%;
}
.rectangle23 {
  position: absolute;
  left: 502px;
  top: 1761px;
  width: 52px;
  height: 52px;
  outline: solid 1px #abb2bf;
  outline-offset: -1px;
}
.rectangle24 {
  position: absolute;
  left: 432px;
  top: 1568px;
  width: 86px;
  height: 86px;
  outline: solid 1px #abb2bf;
  outline-offset: -1px;
}
.logo2 {
  position: absolute;
  left: 220px;
  top: 1737px;
  width: 113px;
  height: 113.0001px;
  overflow: visible;
}
.icon31 {
  width: 100%;
  height: 100%;
}
.frame5 {
  position: absolute;
  left: 173px;
  top: 980px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 16px;
}
.viewAll {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1082px;
  top: 900px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pajamaIsAWebDesignerAndFrontEn {
  position: absolute;
  left: 171px;
  top: 197px;
  width: 537px;
  height: min-content;
  flex-direction: column;
}
.labelWrapper {
  font-size: 32px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #66b9e8;
  font-size: 32px;
  font-weight: 600;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label3 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label4 {
  color: #66b9e8;
  font-size: 32px;
  font-weight: 600;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.heCraftsResponsiveWebsitesWher {
  color: #abb2bf;
  font-size: 16px;
  line-height: 25px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 171px;
  top: 313px;
  width: 463px;
  height: min-content;
  flex-direction: column;
}
.image2 {
  position: absolute;
  left: 738px;
  top: 123px;
  width: 457px;
  height: 386px;
  background-image:/* webpackIgnore: true */ url('/assets/image2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame58 {
  position: absolute;
  left: 757px;
  top: 509px;
  width: 402px;
  height: min-content;
  align-items: center;
  gap: 10px;
  padding: 8px;
  outline: solid 1px #abb2bf;
  outline-offset: -1px;
  background-color: #282c33;
}
.rectangle27 {
  z-index: 0;
  width: 16px;
  height: 16px;
  outline: solid 1px #66b9e8;
  outline-offset: -1px;
  background-color: #66b9e8;
}
.currentlyWorkingOnCanadamc {
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 16px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label5 {
  color: #abb2bf;
  font-size: 16px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label6 {
  color: #843737;
  font-size: 16px;
  font-weight: 600;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.quote {
  position: absolute;
  left: 326px;
  top: 658px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 10px;
  padding: 32px;
  outline: solid 1px #abb2bf;
  outline-offset: -1px;
  background-color: #282c33;
}
.iDontPlayTheOddsIPlayTheMan {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame49 {
  z-index: 0;
  width: 41.472px;
  height: 28.704px;
  overflow: visible;
}
.icon32 {
  width: 100%;
  height: 100%;
}
.frame492 {
  z-index: 0;
  width: min-content;
  height: min-content;
  padding: 16px;
  outline: solid 1px #abb2bf;
}
.HarveySpecter {
  color: #fff;
  font-size: 24px;
  font-family: Fira Code, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame50 {
  z-index: 0;
  width: 41.472px;
  height: 28.704px;
  overflow: visible;
}
.icon33 {
  width: 100%;
  height: 100%;
}
.frame61 {
  position: absolute;
  left: 1185px;
  top: 3059px;
  width: 32px;
  height: 32px;
  align-items: flex-start;
}
