.root {
  width: 84px;
  height: 84px;
  max-height: 100%;
  flex-direction: column;
  place-content: space-between;
}
.frame22 {
  height: 4px;
  align-self: stretch;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.frame23 {
  height: 4px;
  align-self: stretch;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.frame24 {
  height: 4px;
  align-self: stretch;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.frame25 {
  height: 4px;
  align-self: stretch;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.frame26 {
  height: 4px;
  align-self: stretch;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
