.github.github {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.figma.figma {
  position: relative;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.root {
  position: absolute;
  left: 17px;
  top: 0;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: #282c33;
}
.line10Stroke {
  width: 1px;
  height: 191px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.frame16 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
